<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>46020942380-lde4bstl6c1p60n89s51ah965hl6711u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.46020942380-lde4bstl6c1p60n89s51ah965hl6711u</string>
	<key>API_KEY</key>
	<string>AIzaSyCYgARIJe4KgMAeCLGwY4OxZk3gqiCVH5w</string>
	<key>GCM_SENDER_ID</key>
	<string>46020942380</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.etoJura.Tulips</string>
	<key>PROJECT_ID</key>
	<string>tulips-f7105</string>
	<key>STORAGE_BUCKET</key>
	<string>tulips-f7105.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:46020942380:ios:c4294ebb5a7a7df9720f89</string>
	<key>DATABASE_URL</key>
	<string>https://tulips-f7105.firebaseio.com/</string>
</dict>
</plist>
